.btn-first {
  padding: 12px 24px !important;
  border-radius: 8px;
  background-color: #b4d51e;
  color: #fff;
}

.btn-first:hover {
  background-color: #93ae18;
}

@media (max-width: 575.98px) {
  .btn-first {
    padding: 10px 20px !important;
    font-size: 14px;
  }
}

.btn-second {
  padding: 12px 24px !important;
  border-radius: 8px;
  border: 1px solid #b4d51e !important;
  color: #463c7493 !important;
  background-color: #efefef !important;
}

.btn-second:hover {
  background-color: #b4d51e !important;
  color: #fff !important;
}

@media (max-width: 575.98px) {
  .btn-second {
    padding: 10px 20px !important;
    font-size: 14px;
  }
}
